.hero-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px 20px;
}
.content{
    opacity: 1;
    transition: opacity .5sease;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.audio{
    bottom: 3%;
    left: 3%;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;

}
.audio button{
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;

}
.svg{
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0;
    height: 1em;
    width: 1em;
}

.audio button svg {
    color: #fff;
    font-size: 25px;
}



.content h1 {
    font-size: 48px;
    color: #003366;
}

.content h2 {
    font-size: 24px;
    color: #555;
}

.content p {
    font-size: 18px;
}

.shop-button {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.image-gallery {
    display: flex;
    justify-content: center;
}

.image-gallery img {
    margin: 0 10px;
    max-width: 200px;
}

.sound-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.new-home-banner-section {
background: url("../../assets/images/kataria.png");
background-size: 100% 100%;
height: 86vh;
position: relative;
}
.new-home-banner-main-con {
    align-items: center;
    display: flex
;
    height: 100%;
    justify-content: center;
    position: relative;
}
.new-home-banner-main-con-text-main-con h2 {
    color: #2d3192;
    font-family: var(---font04);
    font-size: 110px;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

}
.new-home-banner-main-con-text-main-con h3 {
    font-family: var(---font02);
    font-size: 60px;
    margin: 0;
    text-align: center;
}
.new-home-banner-main-con-text-para-main-con p {
    font-family: Dancing Script, cursive;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
    margin: 0;
    text-align: center;
}
.new-home-banner-main-con-btn-main-con {
    align-items: center;
    display: flex
;
    justify-content: center;
    margin: 20px 0 0;
}

.new-home-banner-main-con-btn-main-con button {
    align-items: center;
    background: #2d3192;
    border-radius: 50px;
    color: #fff;
    display: flex
;
    font-size: 25px;
    padding: 10px 20px;
}










.home-section-new-home-category {
    padding: 10vh 0;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}

.home-section-head-main-con {
    padding: 40px 0;
}
.home-section-head-main-con h2, .home-section-head-main-con h3 {
    font-family: var(---font03);
    font-weight: 400;
    color: var(--bs-heading-color);
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));

    margin-bottom: 20px;
    text-align: center;
}

.home-section-head-main-con h2 {
    font-size: 14px;
    letter-spacing: 1px;
}

.home-section-head-main-con h3 {
    font-size: 30px;
    letter-spacing: 3px;
}


.home-section-head-main-con h2, .home-section-head-main-con h3 {
    font-family: var(---font03);
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.home-section-second-main-new-category-con {
    height: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));

    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
    flex-wrap: nowrap;
    gap: 30px;
     
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}






@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 23%;
    }
}




.home-section-second-main-new-category-main-con {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    position: relative;
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}


.home-section-second-main-new-category-image-con {
    border-radius: 10px;
    height: auto;
    overflow: hidden;
}
.home-section-second-main-new-category-image-con img {
    border-radius: 10px;
    height: 100%;
    transition: scale 8scubic-bezier(.25,.46,.45,.94);
    transition: all .5sease-in-out;
    width: 100%;
}
.home-section-second-main-new-category-details {
    align-items: end;
    background: linear-gradient(160deg, #0000001a, #0000004d);
    border-radius: 10px;
    display: flex
;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.home-section-second-main-new-category-details-con {
    padding: 10px 20px;
    width: 100%;
}

.home-section-second-main-new-category-main-con h2 {
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 100;
}

.home-section-second-main-new-category-main-con h3 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
}

.home-section-first-main-new-category-con-image-details-btn-con {
    margin: 20px 0 0;
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));

}


.home-section-first-main-new-category-con-image-details-btn-con button {
    border-top: 2px solid red;
    color: #fff;
    font-size: 12px;
    padding: 10px 0 0;
}


button:not(:disabled) {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    background-color: initial;
    background-image: none;
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));

}


.mt-2 {
    margin-top: .5rem !important;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}

.home-section-head-main-con {
    padding: 40px 0;
}

.home-section-head-main-con h3 {
    font-size: 30px;
    letter-spacing: 3px;
}
h2, .home-section-head-main-con h3 {
    font-family: var(---font03);
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.2;

}
.prodcut-head-name {
    margin: 0 0 20px;
    text-transform: uppercase;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
.swiper-wrapper {
    box-sizing: initial;
    display: flex
;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: ease;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    width: 100%;
    z-index: 1;
}
.swiper-backface-hidden .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}
.swiper-slide {
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}
.producct-main-card-body-con {
    align-items: center;
    display: flex
;
}
.producct-main-card-body {
    width: 100%;
}
.main-card-product {
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 5px #bababa;
    height: 400px;
    position: relative !important;
}
.card-product-shop-now {
    background-color: #ffffffb3;
    bottom: 0;
    color: var(---colorBlue) !important;
    font-family: var(---font01);
    font-size: 17px;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    transform: translateY(26px);
    width: 100%;
}
.clothCard-product-deatils-main-con {
    margin: 15px 0;
    text-align: center;
}




/* section -7 */
